github "hemantasapkota/JSQMessagesViewController" "master"
github "3lvis/Networking"
github "marketplacer/keychain-swift"
github "bakkenbaeck/EtherealCereal" "master"
github "UseSweet/SweetFoundation" "master"
github "UseSweet/SweetUIKit" "feature/inputview"
github "mxcl/PromiseKit"
