github "Anakros/WebRTC"
github "UseSweet/SweetFoundation" ~> 1.2.0
github "UseSweet/SweetSwift" "master"
github "UseSweet/SweetUIKit" "master"
github "bakkenbaeck/CameraScanner" "01708dc3f1b440177173b48377ca18f6748fa58e"
github "bakkenbaeck/EtherealCereal" ~> 0.0.3
github "bakkenbaeck/Formulaic" "12d290e608d6da68d4956c265740621ce7d44f56"
github "bakkenbaeck/Teapot" "master"
github "marketplacer/keychain-swift" ~> 7.0
github "mxcl/PromiseKit" ~> 4.0
github "toshiapp/AwesomeCache" "master"
github "toshiapp/GrowingTextView" "9f2b44246bba060f7e3ca1e10c2d59dd6d3fbae5"
github "toshiapp/HDWallet" "9dc214e2cf6fe5702cff11c09db156e8aee523c9"
github "toshiapp/NoChat" "6010896237977829294b394cc616951eeb8a36bd"
github "roberthein/TinyConstraints" "master"
github "Quick/Quick"
github "Quick/Nimble"