github "tokenbrowser/NoChat" "master"
github "ibireme/YYText" "master"
github "tokenbrowser/GrowingTextView"
github "Anakros/WebRTC" 
github "tokenbrowser/HDWallet" "master"
github "bakkenbaeck/Formulaic" "master"
github "bakkenbaeck/Teapot" ~> 0.0.2
github "bakkenbaeck/CameraScanner" "master"
github "marketplacer/keychain-swift" ~> 7.0
github "UseSweet/SweetFoundation" ~> 1.2.0
github "UseSweet/SweetSwift" "master"
github "tokenbrowser/AwesomeCache" "master"
github "hyperoslo/ImagePicker" "8cb970f"
github "UseSweet/SweetUIKit" ~> 1.0
github "mxcl/PromiseKit" ~> 4.0
github "bakkenbaeck/EtherealCereal" ~> 0.0.3
